body,ul,ol,li，a，img,p,i,s,input {
    padding: 0;
    margin: 0;
}
ul,ol,li {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    font-style: normal;
}
s {
    text-decoration:none;
}
.clearFix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearFix {

}